<H2>Reklamacja</H2>
<div class="films form large-9 medium-8 columns content">
    <?= $this->Form->create() ?>
    <fieldset>
        <legend><?= __('Szczegóły') ?></legend>
        <?php
            echo $this->Form->textarea('opis');

        ?>
    </fieldset>
    <?= $this->Form->button(__('Wyślij')) ?>
    <?= $this->Form->end() ?>
</div>
