<h2>Logowanie</h2>
<div class="users form">
<?= $this->Form->create();?>
<?= $this->Form->input('username');?>
<?=$this->Form->input('password')?>
<?= $this->Form->button(__('Submit')) ?>
<?=$this->Form->end();?>
<a href="/VOD/users/register">Zarejestruj się!</a>
</div>
