
<h2> Panel admina</h2>

<table>
  <th>Kategorie:</th>
<tr>
<?php echo '<td>'. $this->Html->link(
    'Użytkownicy',
    ['controller' => 'Users', 'action' => 'index', '_full' => true]
);

   echo '</td><td>'. $this->Html->link(
    'Baza filmów',
    ['controller' => 'Films', 'action' => 'index', '_full' => true]
);
echo '</td><td>'.$this->Html->link(
 'Uparawnienia',
 ['controller' => 'Permissions', 'action' => 'index', '_full' => true]
);

echo '</td><td>'. $this->Html->link(
 'Płatności',
 ['controller' => 'Payments', 'action' => 'index', '_full' => true]
).'</td>';

echo '</td><td>'. $this->Html->link(
 'Zamówienia',
 ['controller' => 'RentFilms', 'action' => 'index', '_full' => true]
).'</td>';


?>
</tr>
</table>
