<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Complaint'), ['action' => 'edit', $complaint->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Complaint'), ['action' => 'delete', $complaint->id], ['confirm' => __('Are you sure you want to delete # {0}?', $complaint->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Complaints'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Complaint'), ['action' => 'add']) ?> </li>
        <li><?= $this->Html->link(__('List Rent Films'), ['controller' => 'RentFilms', 'action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Rent Film'), ['controller' => 'RentFilms', 'action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="complaints view large-9 medium-8 columns content">
    <h3><?= h($complaint->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th><?= __('Rent Film') ?></th>
            <td><?= $complaint->has('rent_film') ? $this->Html->link($complaint->rent_film->termin_wypozyczenia, ['controller' => 'RentFilms', 'action' => 'view', $complaint->rent_film->id]) : '' ?></td>
        </tr>
        <tr>
            <th><?= __('Opis') ?></th>
            <td><?= h($complaint->opis) ?></td>
        </tr>
        <tr>
            <th><?= __('Id') ?></th>
            <td><?= $this->Number->format($complaint->id) ?></td>
        </tr>
        <tr>
            <th><?= __('Zalatwione') ?></th>
            <td><?= $complaint->zalatwione ? __('Yes') : __('No'); ?></td>
         </tr>
    </table>
       <?php debug($complaint); ?>
</div>
